@media (max-width:1200px){

}
@media(max-width:991px){
    .header{
        justify-content: space-around;
    }
    .promo{
        &__wrapper{
            align-items: center;
        }
        &__header{
            margin: 0 auto;
        }
        &__subheader{
            margin: 0 auto;
            margin-top: 10px;
        }  
    }

    .experience{
        &__descr{
            font-size: 12px;
                a{
                    font-size: 12px;
                }
        }
    }
}
@media ( max-width:767px ){
    .header{
        justify-content: space-around;
        &__official{
            display: none;
        }
        &__phone{
            font-size: 17px;
        }
        &__logo{
            width: 50%;
        }
    }
    .promo{
        &__header{
            font-size: 30px;
        }
        &__subheader{
            font-size: 15px;
            margin-top: 0;
        }
        &__icons{
            justify-content: space-around;
        }
    }


    .experience{
        &__wrapper{
            flex-direction: column;
        }
        &__icon{
            margin-top: 30px;
        }
        &__subheader{
            font-size: 20px;
        }
        &__descr{
            margin: 0 auto;
            margin-top: 20px;
            font-size: 15px;
        }
    }

}
@media (max-width:575px){

}